.contact{
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
  max-width: 600px;
  padding: 10px;
}

.userLogo, img.userLogo {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  float: left;
}

.details{
  margin-left: 75px;
}

.mat-card {
  margin-top: 20px;
  margin-bottom: 15px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .1), 0 2px 2px 0 rgba(0, 0, 0, .10), 0 1px 5px 0 rgba(0, 0, 0, .09);
}

.mat-card-title {
  font-size: 1.5em;
}

.mat-card-content {
  margin-bottom: 0;
  margin-left: 16px;
  font-size: 1em;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 1.8em;
  margin-bottom: 20px;
  color: var(--th-red);
  padding-top: 15px;
  padding-left: 30px;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  color: var(--th-purple);
  margin-top: 50px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-left: 30px;
}
