<div class="contact">

  <h1>Kontakt</h1>
  <h2>Professor</h2>
  <mat-card>
    <img class="userLogo" src="../../../assets/images/contact/bente.bmp">
    <div class="details">
      <mat-card-title>Stefan Bente</mat-card-title>
      <a href="mailto:stefan.bente@th-koeln.de">stefan.bente@th-koeln.de</a>
    </div>
  </mat-card>

  <h2>Wissenschaftliche Mitarbeiter</h2>
  <mat-card>
    <img class="userLogo" src="../../../assets/images/contact/Lengelsen.bmp">
    <div class="details">
      <mat-card-title>Julian Lengelsen</mat-card-title>
      <a href="mailto:julian.lengelsen@th-koeln.de">julian.lengelsen@th-koeln.de</a>
    </div>
  </mat-card>
</div>
