@import "../../../styles";

.project-detail {
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
}

.mat-card {
  margin-top: 34px;
  margin-bottom: 15px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .1), 0 2px 2px 0 rgba(0, 0, 0, .10), 0 1px 5px 0 rgba(0, 0, 0, .09);
}

.mat-card-subtitle {
  margin-bottom: 5px;
  color: var(--th-red);
  font-size: 1em;
}

.mat-card-title {
  padding-bottom: 10px;
  font-size: 1.5em;
}

.mat-card-content {
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 16px;
  font-size: 1em;
  white-space: pre-wrap;
}

.mat-card-actions {
  margin-left: 0;
  margin-top: 5px;
}

.mat-button {
  margin-bottom: 5px !important;
  font-size: 1em;
  color: var(--th-purple);
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 1.8em;
  color: var(--th-red);
  padding-top: 15px;
  padding-left: 30px;
}

ul {
  margin: 0.75em 0;
  padding: 0 1em;
  list-style: none;
}

li:before {
  content: "";
  border-color: transparent var(--th-red);
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

.status {
  background-color: #75BEFF;
  font-size: 1em;
  padding: 5px 7px 5px 7px;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 1px -1px #505050,
  inset 0 2px 0 rgba(255, 255, 255, 0.25);
  display: inline-block;
  color: #191919;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.status.abgeschlossen {
  background-color: #ff9081;
  font-size: 1em;
  padding: 5px 7px 5px 7px;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 1px -1px #505050,
  inset 0 2px 0 rgba(255, 255, 255, 0.25);
  display: inline-block;
}

.status.geplant {
  background-color: #a5ff90;
  font-size: 1em;
  padding: 5px 7px 5px 7px;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 1px -1px #505050,
  inset 0 2px 0 rgba(255, 255, 255, 0.25);
  display: inline-block;
}

.mat-card-content {
  font-size: 0.8em;
}
