<div *ngIf="project" class="project-detail">
  <h1>{{ project.name }}</h1>
  <div>
    <mat-card>
      <mat-card-subtitle>Bezeichnung</mat-card-subtitle>
      <mat-card-title>{{ project.name }}</mat-card-title>
      <mat-card-subtitle>Status</mat-card-subtitle>
      <mat-card-title>
        <div
          [class.abgeschlossen]="project.status === 'ABGESCHLOSSEN'"
          [class.geplant]="project.status === 'GEPLANT'"
          class="status"
        >
          {{ project.status.charAt(0).toUpperCase() + project.status.slice(1).toLowerCase() }}
        </div>
      </mat-card-title>
      <mat-card-subtitle>Betreuungsperson</mat-card-subtitle>
      <mat-card-title>
        {{ project.supervisorName }}
      </mat-card-title>
      <mat-card-subtitle>Beschreibung</mat-card-subtitle>
      <mat-card-content>
        {{ project.description }}
      </mat-card-content>
      <mat-card-actions>
        <div>
          <button
            (click)="deleteProject(project)"
            *ngIf="hasPermission"
            class="no-hover"
            id="project-remove-button"
            mat-icon-button
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
          <button
            (click)="openProjectDialog(project)"
            *ngIf="hasPermission"
            class="no-hover"
            id="project-edit-button"
            mat-icon-button
          >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
