<div class="impressum">
  <h1>Impressum</h1>
  <p><strong>Angaben gemäß § 5 TMG</strong></p>
  <p class="lead">Prof. Dr.-Ing. Stefan Bente<br>
    TH&nbsp;Köln<br>
    Fakultät für Informatik und Ingenieurwissenschaften<br>
    Cologne Institute for Digital Ecosystems (CIDE)<br>
    Steinmüllerallee 1<br>
    51643 Gummersbach</p>

  <p><strong>Kontakt</strong></p>
  <p>Tel:&nbsp;+49 2261 8196 6367<br>
    Mobil:&nbsp;+49 176 8072 2689<br>
    Skype: stefan.bente<br>
    Email:&nbsp;<a href="mailto:stefan.bente@th-koeln.de">stefan.bente@th-koeln.de</a></p>

  <p><strong>Haftungsausschluss (Disclaimer)</strong></p>
  <p>Bitte beachten Sie die <a routerLink="/liability-notice">Angaben zum Haftungsausschluss</a> bezüglich dieser Webseiten.</p>

  <p><strong>Datenschutz</strong></p>
  <p>Bitte beachten Sie die <a title="Datenschutzerklärung" routerLink="/data-protection">Angaben zum Datenschutz</a> bezüglich dieser Webseiten.</p>

  <p><strong>Bildrechte</strong></p>
  <p>Wenn auf den Seiten Bilder verwendet werden, so liegen deren Rechte entweder beim Betreiber dieser Webseiten, oder die Bildrechte sind&nbsp;jeweils am Seitenende angegeben.</p>

  <p><strong>Impressum der TH Köln</strong></p>
  <p><a title="Impressum der Technischen Köln" href="https://www.th-koeln.de/hochschule/impressum_8159.php" target="_blank">Impressum der TH Köln</a>.</p>
</div>
