.impressum {
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
  max-width: 600px;
  padding: 10px;
}

.details {
  margin-left: 75px;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 1.8em;
  margin-bottom: 20px;
  color: var(--th-red);
  padding-top: 15px;
}

p {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
