<div class="home">
  <mat-card>
    <mat-card-header>
      <img class="logo-responsive" src="assets/images/logo.png">
    </mat-card-header>
    <mat-card-content>
      <p class="lead">Die Projektbörse des Campus Gummersbach ist ein Projekt, das als Bestandteil der projektorientierten Lehre von Studierenden und Mitarbeitern der TH Köln für eben diese Studierenden und Lehrenden aufgebaut wird. Das das <a href="http://blogs.gm.fh-koeln.de/bente/archilab-uebersicht/archilab-team/">ArchiLab-Team</a> hat dieses Projekt über mehrere Lehrveranstaltungen im Informatik Master und Bachelor hinweg vorangetrieben.</p>
      <p>In der Projektbörse sollen Studierende, Dozenten und externe Parteien (regionale und überregionale Unternehmen, Partnerhochschulen) Projekte und Abschlussarbeiten einstellen, suchen und finden können. Es bündelt damit Prozesse, die momentan sehr fragmentiert und basierend auf persönlicher Vernetzung ablaufen:</p>
      <ul>
        <li>Studierende(r) sucht Pflichtprojekt, Praxissemester oder Abschlussarbeit (TH-Köln-intern oder in einem Unternehmen), muss dafür Professor*innen und Unternehmen einzeln und gezielt ansprechen</li>
        <li>Unternehmen hat interessante Themen für Lehr-/Forschungsprojekte und/oder Abschlussarbeiten, weiß aber nicht, welche Professor*innen für eine Betreuung in Frage kommen, und auch nicht, wie es die passenden Studierenden findet</li>
        <li>Professor*in oder Mitarbeiter*in hat interessante Projektthemen aus Forschung und Entwicklung, hat aber nur eingeschränkt die Möglichkeit, bei Studierenden dafür Werbung zu machen und/oder ein interessiertes Unternehmen als Partner zu gewinnen</li>
      </ul>
      <br>
      <p>Weiterführende Informationen: <a href="https://blogs.gm.fh-koeln.de/bente/forschung-entwicklung/projektboerse-des-campus-gummersbach/">Projekt- und Themenbörse des Campus Gummersbach</a></p>
    </mat-card-content>
  </mat-card>
</div>
