<mat-toolbar>
  <div id="div_top_hypers">
    <ul id="ul_top_hypers">
      <li>
        <a routerLink="contact" title="Kontakt">Kontakt</a>
      </li>

      <li>
        <a routerLink="impressum" title="Impressum">Impressum</a>
      </li>

      <li>
        <a routerLink="data-protection" title="Datenschutzhinweis">Datenschutzhinweis</a>
      </li>

      <li>
        <a routerLink="liability-notice" title="Haftungshinweis">Haftungshinweis</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
