<mat-toolbar>
  <div id="div_top_hypers">
    <ul id="ul_top_hypers">
    <li>
      <a href="/kontakt" title="Kontakt">Kontakt</a>
    </li>

    <li>
      <a href="https://www.th-koeln.de/hochschule/impressum_8159.php" title="Impressum">Impressum</a>
    </li>

    <li>
      <a href="https://www.th-koeln.de/hochschule/datenschutzhinweis_8279.php" title="Datenschutzhinweis">Datenschutzhinweis</a>
    </li>

    <li>
      <a href="https://www.th-koeln.de/hochschule/haftungshinweis_8277.php" title="Haftungshinweis">Haftungshinweis</a>
    </li>
    </ul>
  </div>
</mat-toolbar>
