.mat-toolbar {
  background: none;
  height: auto;
}

#div_top_hypers {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8em;
}
#ul_top_hypers {
  padding: 0px;
}

#ul_top_hypers li {
  display: inline;
  margin: 0 10px;
}
#ul_top_hypers li a {
  color: #bbb;
}

@media (max-width: 500px) {
  #ul_top_hypers li {
    display: block;
  }
}
