<div class="module-list">
  <div class="module-list-header">
    <h1>Studiengänge</h1>
    <mat-form-field>
      <mat-select placeholder="Akademischer Grad" (selectionChange)="filterStudyCoursesByAcademicDegree($event)">
        <mat-option>Alle</mat-option>
        <mat-option *ngFor="let academicDegree of academicDegrees" [value]="academicDegree">{{academicDegree.charAt(0).toUpperCase()
        + academicDegree.slice(1).toLowerCase()}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Suche" (keyup)="filterStudyCoursesByName($event)">
    </mat-form-field>
  </div>
  <mat-card *ngFor="let studyCourse of studyCourses">
    <mat-card-header>
      <mat-card-subtitle>Studiengang</mat-card-subtitle>
      <mat-card-title>{{studyCourse.name}}</mat-card-title>
      <mat-card-subtitle>Akademischer Grad</mat-card-subtitle>
      <mat-card-title>{{studyCourse.academicDegree.charAt(0).toUpperCase()
      + studyCourse.academicDegree.slice(1).toLowerCase()}}</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button routerLink="/study-courses/{{studyCourse.name}}">Module</button>
    </mat-card-actions>
  </mat-card>
</div>
