<div class="home">
  <mat-card-header>
    <img class="logo-responsive" src="assets/images/logo.png">
    <img class="logo-responsive-icon" src="assets/images/logo-icon.png">
  </mat-card-header>
  <div>
    <p class="lead">Die Projektbörse des Campus Gummersbach ist ein Projekt, das als Bestandteil
      der projektorientierten Lehre von Studierenden und Mitarbeitern der TH Köln für eben diese
      Studierenden und Lehrenden aufgebaut wird. Das <a
        href="http://blogs.gm.fh-koeln.de/bente/archilab-uebersicht/archilab-team/">ArchiLab-Team</a>
      hat dieses Projekt über mehrere Lehrveranstaltungen im Informatik Master und Bachelor hinweg
      vorangetrieben.</p>
  </div>
  <mat-card class="user-get-started-container">
    <h2 class="user-role-heading">Student</h2>
    <button mat-raised-button routerLink="/projects">Projekte suchen</button>
    <ul class="available-functions-list">
      <li>Studiengänge und dazugehörige Module einsehen</li>
      <li>Praxisprojekte, Bachelorarbeiten und Masterarbeiten suchen und finden</li>
    </ul>
  </mat-card>
  <mat-card class="user-get-started-container">
    <h2 class="user-role-heading">Dozent</h2>
    <button mat-raised-button (click)="editProject()">Projekte verwalten</button>
    <ul class="available-functions-list">
      <li>Studiengänge und dazugehörige Module einsehen</li>
      <li>Praxisprojekte, Bachelorarbeiten und Masterarbeiten einstellen und bearbeiten</li>
    </ul>
  </mat-card>
  <div>
    <p>Weiterführende Informationen: <a
      href="https://blogs.gm.fh-koeln.de/bente/forschung-entwicklung/projektboerse-des-campus-gummersbach/">Projekt-
      und Themenbörse des Campus Gummersbach</a></p>
  </div>
</div>
