<div class="project-list">
  <div class="project-list-header">
    <h1>Projekte</h1>
    <div class="project-options">
      <mat-form-field>
        <mat-select placeholder="Status" (selectionChange)="filterProjectsByStatus($event)">
          <mat-option>Alle</mat-option>
          <mat-option *ngFor="let status of allStatus" [value]="status">{{status.charAt(0).toUpperCase()
          + status.slice(1).toLowerCase()}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Search" (keyup)="filterProjectsByName($event)">
      </mat-form-field>
      <button (click)="openProjectDialog()" class="no-hover" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <mat-card *ngFor="let project of projects">
    <mat-card-header>
      <mat-card-subtitle>Bezeichnung</mat-card-subtitle>
      <mat-card-title>{{project.name}}</mat-card-title>
      <mat-card-subtitle>Status</mat-card-subtitle>
      <mat-card-title>
        <div
          class="status"
          [class.abgeschlossen]="project.status==='ABGESCHLOSSEN'"
          [class.geplant]="project.status==='GEPLANT'"
        >
          {{project.status.charAt(0).toUpperCase() + project.status.slice(1).toLowerCase()}}
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button routerLink="/projects/{{project.name}}">Details</button>
    </mat-card-actions>
  </mat-card>
</div>
