.project-list {
  margin-top: 70px;
  margin-left: 20px;
  /*margin-right: 20px;*/
  padding-bottom: 20px;
}

.mat-card {
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .1), 0 2px 2px 0 rgba(0, 0, 0, .10), 0 1px 5px 0 rgba(0, 0, 0, .09);
  width: 30%;
  display: inline-block;
  margin-right: 30px;
}

@media (max-width: 1879px) {
  .mat-card {
    width: 46%;
    margin-right: 2%;
  }
}

@media (max-width: 1618px) {
  .mat-card {
    width: 45%;
    margin-right: 1.5%;
  }
}

@media (max-width: 1299px) {
  .mat-card {
    width: 46%;
    margin-right: 1%;
  }
}

@media (max-width: 1085px) {
  .mat-card {
    width: auto;
    margin-right: 0;
    margin-top: 34px;
    display: block;
  }

  .project-list {
    margin-right: 20px;
  }
}

.mat-card-subtitle {
  margin-bottom: 5px;
  color: var(--th-red);
}

.mat-card-title {
  padding-bottom: 10px;
}

.mat-card-actions {
  margin-left: 0;
  padding-top: 0;
}

.mat-button {
  margin-bottom: 5px !important;
  font-size: 1em;
  color: var(--th-purple);
}

#project-edit-button {
  margin-right: 5px;
  float: right;
}

#project-remove-button {
  float: right;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 1.8em;
  color: var(--th-red);
  padding-top: 15px;
  padding-left: 30px;
}

ul {
  margin: 0.75em 0;
  padding: 0 1em;
  list-style: none;
}

li:before {
  content: "";
  border-color: transparent var(--th-red);
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

.project-list-header {
  display: block;
}

.mat-form-field {
  margin-left: 30px;
}

.status {
  background-color: #75BEFF;
  font-size: 1em;
  padding: 5px 7px 5px 7px;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 1px -1px #505050,
  inset 0 2px 0 rgba(255, 255, 255, 0.25);
  display: inline-block;
  color: #191919;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.status.abgeschlossen {
  background-color: #ff9081;
  font-size: 1em;
  padding: 5px 7px 5px 7px;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 1px -1px #505050,
  inset 0 2px 0 rgba(255, 255, 255, 0.25);
  display: inline-block;
}

.status.geplant {
  background-color: #a5ff90;
  font-size: 1em;
  padding: 5px 7px 5px 7px;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 1px -1px #505050,
  inset 0 2px 0 rgba(255, 255, 255, 0.25);
  display: inline-block;
}

.project-options {
  width: 96%;
}

.project-options .mat-icon-button {
  float: right;
  margin-top: 10px;
}

.mat-icon-button.no-hover ::ng-deep .mat-button-focus-overlay {
  background: none;
}

@media (max-width: 315px) {
  .project-options {
    width: 104%;
  }
}

.mat-icon {
  background-color: white;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.5),
  inset 0 2px 0 rgba(255, 255, 255, 0.25);
  color: #696969;
}
