// Top - Right - Bottom - Left

.mat-sidenav {
  width: 300px;
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12);
}
#content {
  margin-top: 75px;
}

.mat-list {
  padding-top: 8px;
}

:host /deep/ .mat-list-item-content {
  padding: 0 !important;
}

.th-logo {
  position: absolute;
  right: 25px;
  top: 20%;
  height: 60%;
}

.sidebar-button {
  text-align: left;
  border-radius: 0;
  padding-left: 20px;
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.sidebar-icon {
  padding-right: 20px;
}

.header-line {
  background-color: var(--th-red);
  height: 3px;
}

.header-main {
  background-color: #f7f7f7;
  height: 50px;
  box-shadow: 0 1px 1px -5px rgba(0, 0, 0, 0.1), 0 1px 2px 1px rgba(0, 0, 0, 0.02),
    0 1px 2px 1px rgba(0, 0, 0, 0.02);
  border-bottom: solid;
  border-width: 1px;
  border-color: #d4d4d4;
}

.header-main span {
  position: absolute;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  //top: 18px;
  top: 9px;
  left: 50%;
  width: 212px;
  transform: translateX(-50%);
}

.header-main button {
  display: block;
  position: absolute;
  left: 15px;
  top: 15%;
  height: 60%;
}

.mat-icon-button {
  color: gray;
}

.mat-icon-button.no-hover ::ng-deep .mat-button-focus-overlay {
  background: none;
}

.toolbar {
  z-index: 1;
  position: fixed;
  width: 100%;
}

.nav-activated {
  background-color: rgba(230, 34, 17, 0.25);
}

.logo-responsive {
  height: 80%;
  position: relative;
  top: 10%;
  margin: auto;
  display: block;
  transition: all 0.2s ease-in-out;
}

.logo-responsive:hover {
  transform: scale(1.025);
  cursor: pointer;
}

.logo-responsive:focus {
  outline: none;
}

.logo-responsive-icon {
  height: 80%;
  position: relative;
  top: 10%;
  margin: auto;
  transition: all 0.2s ease-in-out;
  display: none;
}

.logo-responsive-icon:hover {
  cursor: pointer;
}

.logo-responsive-icon:focus {
  outline: none;
}

@media (max-width: 450px) {
  .logo-responsive {
    display: none;
  }

  .logo-responsive-icon {
    display: block;
  }
}

.logo-sidebar {
  width: 50%;
  padding: 20px 0 20px 20px;
  text-align: center;
  display: block;
  margin-left: 50px;
  margin-right: auto;
}

.in-sidebar .mat-icon {
  background-color: white;
  border-radius: 15%;
  padding: 8px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.5), inset 0 2px 0 rgba(255, 255, 255, 0.25);
  color: #696969;
}

.in-sidebar {
  float: right;
  margin-right: 13px;
  margin-top: 10px;
}

::ng-deep .in-sidebar .mat-button-ripple {
  border-radius: 15% !important;
}
