<div class="header">
  <mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav>
      <button (click)="sidenav.toggle()" class="no-hover in-sidebar" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
      <img class="logo-sidebar" src="assets/images/logo-icon.png">
      <mat-list>
        <mat-list-item>
          <button (click)="sidenav.toggle()" [routerLinkActiveOptions]="{exact:true}" class="sidebar-button"
                  mat-button routerLink="" routerLinkActive="nav-activated">
            <mat-icon class="sidebar-icon">home</mat-icon>
            Startseite
          </button>
        </mat-list-item>
        <mat-list-item>
          <button (click)="sidenav.toggle()" class="sidebar-button"
                  mat-button routerLink="projects" routerLinkActive="nav-activated">
            <mat-icon class="sidebar-icon">layers</mat-icon>
            Projekte
          </button>
        </mat-list-item>
        <mat-list-item>
          <button (click)="sidenav.toggle()" class="sidebar-button"
                  mat-button routerLink="study-courses" routerLinkActive="nav-activated">
            <mat-icon class="sidebar-icon">local_library</mat-icon>
            Studiengänge
          </button>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>

    <div class="toolbar">
      <div class="header-line"></div>
      <div class="header-main">
        <button (click)="sidenav.toggle()" class="no-hover" mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
        <span>
          <img routerLink="" class="logo-responsive" src="assets/images/logo.png">
          <img routerLink="" class="logo-responsive-icon" src="assets/images/logo-icon.png">
        </span>
      </div>
    </div>
    <div id="content">
      <router-outlet></router-outlet>
    </div>
    <!--<app-footer></app-footer>-->
  </mat-sidenav-container>
</div>
