// Top - Right - Bottom - Left

.mat-sidenav {
  width: 300px;
  box-shadow: 0 8px 10px -5px rgba(0,0,0,.2),0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12);
}

.mat-list {
  padding-top: 8px;
}

:host /deep/ .mat-list-item-content {
  padding: 0 !important;
}

.sidebar-button {
  text-align: left;
  border-radius: 0px;
  padding-left: 20px;
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.sidebar-icon {
  padding-right: 20px;
}

.header-line {
  background-color: #c81e0f;
  height: 3px;
}

.header-main {
  background-color: #F7F7F7;
  height: 50px;
  box-shadow: 0 1px 1px -5px rgba(0,0,0,.1),0 1px 2px 1px rgba(0,0,0,.02),0 1px 2px 1px rgba(0,0,0,.02);
  border-bottom: solid;
  border-width: 1px;
  border-color: #d4d4d4;
}

.header-main span {
  position: absolute;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  //top: 18px;
  top: 9px;
  left: 50%;
  width: 212px;
  transform: translateX(-50%);
}

.mat-icon-button {
  color: gray;
  margin-top: 4.5px;
  margin-left: 15px;
}

.mat-icon-button.no-hover ::ng-deep .mat-button-focus-overlay {
  background: none;
}

.toolbar {
  z-index: 1;
  position: fixed;
  width: 100%;
}

.nav-activated {
  background-color: rgba(230, 34, 17, 0.25);
}

.logo-responsive {
  max-width: 110%;
  transition: all .2s ease-in-out;
}

.logo-responsive:hover {
  transform: scale(1.025);
  cursor: pointer;
}

.logo-responsive:focus {
  outline: none;
}

.logo-responsive-icon {
  max-width: 16%;
  display: none;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.logo-responsive-icon:hover {
  cursor: pointer;
}

.logo-responsive-icon:focus {
  outline: none;
}

@media (max-width: 330px) {
  .logo-responsive {
    display: none;
  }

  .logo-responsive-icon {
    display: block;
  }
}

.logo-sidebar {
  width: 50%;
  padding: 20px 0px 20px 20px;
  text-align: center;
  display: block;
  margin-left: 50px;
  margin-right: auto;
}

.in-sidebar .mat-icon {
  background-color: white;
  border-radius: 15%;
  padding: 8px;
  box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.5),
  inset 0 2px 0 rgba(255,255,255,0.25);
  color: #696969;
}

.in-sidebar {
  float: right;
  margin-right: 13px;
  margin-top: 10px;
}

::ng-deep .in-sidebar .mat-button-ripple {
  border-radius: 15% !important;
}
