<div class="module-list">
  <h1>Module und Studiengänge</h1>
  <mat-card *ngFor="let studyCourse of studyCourses">
    <mat-card-header>
      <mat-card-subtitle>Studiengang</mat-card-subtitle>
      <mat-card-title>{{studyCourse.name}}</mat-card-title>
      <mat-card-subtitle>Akademischer Grad</mat-card-subtitle>
      <mat-card-title>{{studyCourse.academicDegree.charAt(0).toUpperCase()
      + studyCourse.academicDegree.slice(1).toLowerCase()}}</mat-card-title>
      <mat-card-subtitle>Module</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngFor="let module of studyCourse.modules | slice:0:5; let i = index">
      <ul>
        <li>{{module.name}}</li>
        <li *ngIf="i == 4">...</li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/modules/{{studyCourse.name}}">Details</button>
    </mat-card-actions>
  </mat-card>
</div>
