<div class="header">
  <mat-sidenav-container class="sidebar-container">
    <mat-sidenav #sidenav>
      <mat-list>
        <mat-list-item><button class="sidebar-button" mat-button><mat-icon class="sidebar-icon">home</mat-icon>Startseite</button></mat-list-item>
        <mat-list-item><button class="sidebar-button" mat-button><mat-icon class="sidebar-icon">layers</mat-icon>Projekte</button></mat-list-item>
        <mat-list-item><button class="sidebar-button" mat-button><mat-icon class="sidebar-icon">local_library</mat-icon>Module</button></mat-list-item>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
