.project-dialog-form {
  display: flex;
  flex-direction: column;
}

.mat-dialog-title {
  color: #b41208;
}

.mat-button {
  color: #9c1e75;
  font-size: 16px;
}

.project-dialog-form > * {
  width: 500px;
}

.mat-dialog-actions {
  justify-content: center;
}

@media (max-width: 600px) {
  .project-dialog-form > * {
    width: 100%;
  }
}

@media (max-width: 325px) {
  .mat-dialog-actions {
    display: inline;
  }

  .mat-button {
    padding: 0 10px 0 10px;
    font-size: 14px;
  }
}

.mat-error {
  margin-top: 10px;
  margin-bottom: 15px;
}

.mat-form-field {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-textarea {
  font-size: 14px;
}

.selected {
  background-color: #b41208 !important;
  color: white;
}

.mat-list-item {
  font-size: 14px;
}
