<div class="project-dialog">
  <h1 mat-dialog-title>Projekt hinzufügen</h1>
  <form (ngSubmit)="onSubmit(projectFormControl.value)" *ngIf="projectFormControl"
        [formGroup]="projectFormControl"
        class="row" novalidate>
    <div class="project-dialog-form">
      <mat-form-field>
        <input [formControl]="projectFormControl.controls['name']" matInput
               placeholder="Bezeichnung" required>
        <mat-error *ngIf="projectFormControl.controls['name'].hasError('required')">
          Bezeichnung <strong>fehlt</strong>!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea [formControl]="projectFormControl.controls['description']" class="form-textarea"
                  matInput placeholder="Beschreibung"
                  required></textarea>
        <mat-error *ngIf="projectFormControl.controls['description'].hasError('required')">
          Beschreibung <strong>fehlt</strong>!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select [formControl]="projectFormControl.controls['status']" placeholder="Status"
                    required>
          <!-- The following options should be implemented either as enums or imported from backend -->
          <mat-option value="VERFÜGBAR">Verfügbar</mat-option>
          <mat-option value="LAUFEND">Laufend</mat-option>
          <mat-option value="ABGESCHLOSSEN">Abgeschlossen</mat-option>
        </mat-select>
        <mat-error *ngIf="projectFormControl.controls['status'].hasError('required')">
          Status <strong>fehlt</strong>!
        </mat-error>
      </mat-form-field>
      <mat-chip-list>
        <h1 id="module-caption-heading">Modulauswahl</h1>
        <mat-chip *ngFor="let module of modules"
          [class.selected]="selectedModules.includes(module)"
          (click)="onSelectModule(module)">
          {{module.name}}
        </mat-chip>
      </mat-chip-list>
      <mat-error *ngIf="selectedModules.length === 0">
        <strong>Mindestens</strong> ein Modul auswählen!
      </mat-error>
    </div>
    <div mat-dialog-actions>
      <div class="action-buttons">
        <button (click)="onClose()" mat-button type="reset">Abbrechen</button>
        <button [disabled]="projectFormControl.controls['name'].hasError('required') ||
                                       projectFormControl.controls['description'].hasError('required') ||
                                       projectFormControl.controls['status'].hasError('required') ||
                                       selectedModules.length === 0"
                mat-button
                type="submit">Hinzufügen
        </button>
      </div>
    </div>
  </form>
</div>
